<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Templates - Footer</title>
</head>

<body>
    <template id="demo-viewer-template">
        <style>
            :host {
                display: block;
                font-family: sans-serif;
            }

            h1 {
                font-size: 1.8em;
                margin-bottom: 1em;
            }

            a {
                display: inline-block;
                margin: 1em 0;
            }
        </style>
        <h1 id="demo-title">Loading...</h1>
        <div id="description"></div>
        <a id="demo-link" target="_blank">👉 Open demo</a>
        <div id="code-blocks"></div>
    </template>
</body>

</html>